body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1201px){
    body{
        width: 100%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1200px){
    body{
        width: 1200px;
        margin: 0 auto;
    }
}
.view_width{
    width: 1200px;
    margin: 0 auto;
}
/*header开始*/
header{
	width: 100%;
	background: url(../img/15.png) no-repeat;
	height: 500px;
}
.header-center{
	width: 1200px;
	margin: auto;
	box-sizing: border-box;
	padding: 20px 0;
}
.header-top{
	width: 1500px;
	display: flex;
	justify-content: space-between;

	-ms-flex-pack :  justify;
	-ms-justify-content: space-between;
	display: -webkit-flex;/*老版本语法：Safari,iOS,Android browser,old Webkit browser*/
	display: -moz-box;/*老版本语法：Firefox(buggy)*/
	display: -ms-flexbox;/*混合版本语法：IE 10*/
}
.header-left{
	color: white;
}
.header-right{
	width: 65%;
}
.header-center ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;

	-ms-flex-pack :  justify;
	-ms-justify-content: space-between;
	display: -webkit-flex;/*老版本语法：Safari,iOS,Android browser,old Webkit browser*/
	display: -moz-box;/*老版本语法：Firefox(buggy)*/
	display: -ms-flexbox;/*混合版本语法：IE 10*/
}
.header-center ul li{
	font-size: 16px;
	cursor: pointer;
    color: white;
    font-family: "微软雅黑";
}
.header-center ul li:hover{
	 color: #c58d0f;
}
.header-center ul li:nth-child(1){
        color: #c58d0f;
}
.header-bottom{
	box-sizing: border-box;
	padding-top: 80px;
}
.header-bottom p:nth-child(1){
	font-size: 45px;
}
.header-bottom p:nth-child(1) .sapn{
	/*background: linear-gradient(to top, #c4ae3e, #c58d0f);
    -webkit-background-clip: text;
    color: transparent;*/
    color: #e4c53c;
}
.header-bottom p:nth-child(1) span{
	color: white;
}
.header-bottom p:nth-child(2){
	color: white;
	font-size: 30px;
	box-sizing: border-box;
	padding: 15px 0;
}
.header-bottom p:nth-child(3){
	width: 110px;
    height: 45px;
    display: block;
    color: white;
    border: 1px solid #C58D0F;
    text-align: center;
    line-height: 45px;
  
}
.header-xiaotiao{
	width: 100%;
	background: rgba(38, 79, 153, 0.65);
	margin-top:140px;
	color: white;
}
.header-xiantiao-center{
	width: 1200px;
	margin: auto;
	box-sizing: border-box;
	padding: 10px 0;
}
.header-xiantiao-center ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;

	-ms-flex-pack :  justify;
	-ms-justify-content: space-between;
	display: -webkit-flex;/*老版本语法：Safari,iOS,Android browser,old Webkit browser*/
	display: -moz-box;/*老版本语法：Firefox(buggy)*/
	display: -ms-flexbox;/*混合版本语法：IE 10*/
}
/*header结束*/
/*main开始*/
/*main开始*/
.main{
	background: black;
	width: 100%;
}
.main-center{
	box-sizing: border-box;
	padding-top: 25px;
	display: flex;
	justify-content: space-between;

	-ms-flex-pack :  justify;
	-ms-justify-content: space-between;
	display: -webkit-flex;/*老版本语法：Safari,iOS,Android browser,old Webkit browser*/
	display: -moz-box;/*老版本语法：Firefox(buggy)*/
	display: -ms-flexbox;/*混合版本语法：IE 10*/
}
.main-left{
	width: 65%;
	background: white;
	border-radius: 10px;
	box-sizing: border-box;
	padding-bottom: 32px;
}
.left-content-one{
	border-bottom: 1px solid #e2e2e2;
}
.left-content-one-center{
	display: flex;
    box-sizing: border-box;
    padding: 30px 0px;
    padding-left: 70px;
    padding-right: 22px;

	-ms-flex-pack :  justify;
	-ms-justify-content: space-between;
	display: -webkit-flex;/*老版本语法：Safari,iOS,Android browser,old Webkit browser*/
	display: -moz-box;/*老版本语法：Firefox(buggy)*/
	display: -ms-flexbox;/*混合版本语法：IE 10*/
}
.kfr img{
	width: 206px;
	height: 136px;
}
.kfb{
	/*display: table;*/
	width: 479px;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 57px;
}
.kfb p:nth-child(1){
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
}
.kfb p:nth-child(2){
	/*display: table;*/
	font-size: 14px;
	line-height: 21px;
	height: 21px;
	color: #989899;
	box-sizing: border-box;
	padding-top: 23px;
}
.textP{
	clear: both;
    display: table;
    content: "";
}
.animation{
	animation: myfirst 0.5s;
	width: 18px;
	height: 18px;
	-moz-animation: myfirst 0.5s;
	-webkit-animation: myfirst 0.5s;
	-o-animation: myfirst 0.5s;
}
.kfb-tubiao{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	color: #d6d6d6;
	box-sizing: border-box;
	padding-top: 23px;


	-ms-flex-pack :  end;
	-ms-justify-content:  flex-end;
	display: -webkit-flex;/*老版本语法：Safari,iOS,Android browser,old Webkit browser*/
	display: -moz-box;/*老版本语法：Firefox(buggy)*/
	display: -ms-flexbox;/*混合版本语法：IE 10*/
}
.kfb-tubiao li{
	box-sizing: border-box;
	padding: 0 10px;
}
.gengduo{
	text-align: center;
    box-sizing: border-box;
    padding-top: 36px;
    padding-bottom: 45px;
    color: #989899;
}
.main-bottom-right{
	display: table;
	clear: both;
	content: "";
}
.main-bottom-right{
	width: 30%;
	background: #f7f7f7;
	border-radius: 8px;
	box-sizing: border-box;
    padding-bottom: 20px;
}
.main-bottom-right-top{
	box-sizing: border-box;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 21px;
    border-bottom: 1px solid #EDEDED;
}
.main-bottom-right-top .main-bottom-right-top-one{
	font-size: 14px;
	font-weight: bold;
	box-sizing: border-box;
	padding: 13px 0;
}
.main-bottom-right-top-two{
	font-size: 14px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 21px;
}
.main-bottom-right-top img{
	width: 314px;
    height: 120px;
}
.mian-top{
	display: flex;
    box-sizing: border-box;
    padding: 27px 0;
    padding-left: 45px;
    width: 1200px;
    margin: auto;
    padding-bottom: 0;

	-ms-flex-pack :  justify;
	-ms-justify-content: space-between;
	display: -webkit-box;/*老版本语法：Safari,iOS,Android browser,old Webkit browser*/
	display: -moz-box;/*老版本语法：Firefox(buggy)*/
	display: -ms-flexbox;/*混合版本语法：IE 10*/
}
.mian-top span:nth-child(1){
}
.mian-top span{
	color: white;
	font-size: 16px;
}

/*main结束*/